/* Base do botão */
.btn {
    background-color: var(--text-color-primary);
    color: var(--bg-color);
    
    border: 0;
    border-radius: 0.5rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  
    font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);
    cursor: pointer;
  }
  
  /* Hover (com fallback direto, sem variável com gradient) */
  .btn:hover {
    background: linear-gradient(
      90deg,
      var(--brand-color-secondary) 0%,
      var(--brand-color-primary) 100%
    );
    color: var(--surface-color);
  }
  
  /* Tamanhos */
  .btn-sm {
    padding: 0.5rem 1rem;
    font-size: var(--fs-sm);
  }
  
  .btn-md {
    padding: 0.75rem 1.5rem;
    font-size: var(--fs-base);
  }
  
  .btn-lg {
    padding: 1rem 2rem;
    font-size: 1.125rem;
  }
  
  /* Estilo de botão com rótulo alternativo (aria-label) */
  .btn[aria-label] {
    position: relative;
  }
  
  /* ::before - fundo branco que simula borda interna */
  .btn[aria-label]::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0.09375rem;
    background-color: var(--bg-color);
    z-index: 0;
  }
  
  /* ::after - texto com clip de cor */
  .btn[aria-label]::after {
    content: attr(aria-label);
    position: relative;
    z-index: 1;
  
    background: var(--text-color-primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  

@media (width >= 80em) {
    .btn-sm {
        padding: 0.75rem 1.5rem;
        font-size: var(--fs-base);
    }
    
    .btn-md {
        padding: 1rem 2rem;
        font-size: 1.125rem;
    }
}