footer {
    color: var(--text-color-secondary);
    font-weight: var(--fw-md);
}

footer .container {
    padding-inline: 3rem;
    gap: 3rem;
}

footer .top {
    gap: 3rem;
}

footer nav.even-columns {
    gap: 4rem;
}

footer .top ul {
    align-content: start;
}

footer .title {
    font-size: 0.75rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--brand-color-primary);
}

footer .bottom {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

footer .bottom > div {
    margin-right: auto;
}

footer .bottom span {
    font-size: 0.875rem; /* 14px/16 = 0.875rem */
}

/* Desktop - acima de 80em (~1280px) */
@media (width >= 80em) {
    footer .container {
        padding-inline: 0;
        padding-bottom: 2rem;
    }

    footer .top {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    footer .top nav {
        margin-left: auto;
    }

    footer .top nav ul {
        width: 14rem; /* 224px */
    }
}
